*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*  Add accessible line-height
  line-height: 1.5;*/
  /*  Improve text rendering valide uniquement sur MacOs */
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*  Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
p::first-letter,
span::first-letter {
  text-transform: capitalize;
}

p {
  text-wrap: pretty;
}

/*  Improve media defaults */
img,
picture,
video,
canvas,
svg,
span {
  display: block;
  max-width: 100%;
}

/*  Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: unset;
  display: inline-block;
}

a {
  color: unset;
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body {
  position: relative;
}

main {
  background: #fff;
}

.container {
  padding: 1.25rem 1.875rem;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

a {
  text-transform: uppercase;
}

section {
  max-width: 1920px;
  margin: 0 auto;
}

.card {
  min-width: 100%;
  height: 620px;
}

.card p {
  font-size: 1.2rem;
  font-weight: 600;
}

.overlay-wight {
  color: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%, rgb(14, 15, 15)), color-stop(97%, rgba(0, 0, 0, 0.47)));
  background: linear-gradient(180deg, rgb(14, 15, 15) 49%, rgba(0, 0, 0, 0.47) 97%);
}

.overlay-dark {
  color: #0c0c0c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgb(255, 255, 255)), color-stop(97%, rgba(0, 0, 0, 0.12)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 21%, rgba(0, 0, 0, 0.12) 97%);
}

.overlay-dark,
.overlay-wight {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

header {
  position: relative;
}

.navbar-container {
  height: auto;
  width: 100%;
  background: #1e1e1e;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 992px) {
  .navbar-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .navbar-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}
.navigation li {
  padding: 0.4rem 0.5rem;
}
.navigation li .links {
  font-size: 0.7rem;
}
@media screen and (min-width: 992px) {
  .navigation li .links {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .navigation li .links {
    font-size: 1rem;
  }
}
.navigation li .links:hover {
  color: #efb610;
}

.main-container {
  margin-top: 0px;
  max-width: 1920px;
}

.flex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 10px 0 10px;
}
.flex-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
}
.flex-section .item1 {
  background-image: url(../images/background1.jpg);
}
.flex-section .item2 {
  background-image: url(../images/background2.jpg);
}/*# sourceMappingURL=index.css.map */