
html{
    font-family: "Roboto+Condensed",sans-serif;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    
}


// ---------------variables---------------
//----color
$color-primary:#CCA57C;
$color-secondary:#272727;
$white:#fff;
$grey:#606060;

$font-primary:"Roboto", sans-serif;
$font-secondary:"Roboto+Condensed", sans-serif;


.container{
    max-width:1168px ;
    margin: 0 auto;
    padding: 0 20px;
}


