@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background: url(../images/constellation.jpg);
  color: #fff;
}
.container {
  max-width: 960px;
  padding: 30px 20px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  width: 90%;
  width: 860px;
  padding: 30px 20px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}
.navbar a {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 5px 5px;
  font-size: calc(1vw + 5px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 50px;
}
section,
form {
  width: 90%;
  margin: 0 auto;
  padding: 30px 20px;
  backdrop-filter: grayscale(100%) blur(5px) brightness(28%) saturate(0%)
    opacity(40%) drop-shadow(10px 10px 5px #000000);
}
